<a href="https://colab.research.google.com/github/khoay/IC-Team50/blob/main/FFMin_and_FFMax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
file_path = 'FF_SR_ data.csv'
df = pd.read_csv(file_path)
print(df)

      FF_NDB  SR_NDB  food_category_id    FF Food description  \
0      16158   16158                16     Hummus, commercial
1      16158   16158                16     Hummus, commercial
2      16158   16158                16     Hummus, commercial
3      16158   16158                16     Hummus, commercial
4      16158   16158                16     Hummus, commercial
...      ...     ...               ...                    ...
4390    1267    1267                 1  Cheese, cotija, solid
4391    1267    1267                 1  Cheese, cotija, solid
4392    1267    1267                 1  Cheese, cotija, solid
4393    1267    1267                 1  Cheese, cotija, solid
4394    1267    1267                 1  Cheese, cotija, solid

                SR Food description  Nutrient_id   rank  \
0                Hummus, commercial         1090   5500
1                Hummus, commercial         1258   9700
2                Hummus, commercial         1089   5400
3                Hummus, commercial         1051    100
4                Hummus, commercial         1103   6200
...                             ...          ...    ...
4390  Cheese, mexican, queso cotija         1264  10500
4391  Cheese, mexican, queso cotija         1263  10300
4392  Cheese, mexican, queso cotija         1265  10700
4393  Cheese, mexican, queso cotija         1095   5900
4394  Cheese, mexican, queso cotija         1087   5300

                      FF_Component                  SR_Component unit_name  \
0                    Magnesium, Mg                 Magnesium, Mg        MG
1     Fatty acids, total saturated  Fatty acids, total saturated         G
2                         Iron, Fe                      Iron, Fe        MG
3                            Water                         Water         G
4                     Selenium, Se                  Selenium, Se        UG
...                            ...                           ...       ...
4390                      SFA 14:0                         14:00         G
4391                      SFA 12:0                         12:00         G
4392                      SFA 16:0                         16:00         G
4393                      Zinc, Zn                      Zinc, Zn        MG
4394                   Calcium, Ca                   Calcium, Ca        MG

      ...  SR Min  SR Max   Std_Error  SR Num_Data_pts  FF Mean per 100g  \
0     ...     NaN     NaN         NaN                2           71.1000
1     ...     NaN     NaN         NaN                0            2.2200
2     ...     NaN     NaN         NaN                2            2.4100
3     ...     NaN     NaN         NaN                2           58.7000
4     ...     NaN     NaN         NaN                0           16.2000
...   ...     ...     ...         ...              ...               ...
4390  ...     NaN     NaN         NaN                0            2.5720
4391  ...     NaN     NaN         NaN                0            0.8359
4392  ...     NaN     NaN         NaN                0            7.3910
4393  ...     NaN     NaN         NaN                0            3.5970
4394  ...     NaN     NaN         NaN                0          699.6000

       FF Min   FF Max  FF Median  FF data_points  FF Publication Date
0      56.600   82.000     70.400            11.0             4/1/2019
1         NaN      NaN        NaN             NaN             4/1/2019
2       1.870    2.960      2.330            11.0             4/1/2019
3      56.100   65.600     57.600            11.0             4/1/2019
4       0.000   32.300     16.200             2.0             4/1/2019
...       ...      ...        ...             ...                  ...
4390    1.949    3.314      2.426             7.0           10/19/2023
4391    0.614    1.071      0.827             7.0           10/19/2023
4392    5.375    9.535      6.924             7.0           10/19/2023
4393    3.370    3.860      3.620             7.0           10/19/2023
4394  358.000  855.000    751.000             7.0           10/19/2023

[4395 rows x 21 columns]

In [7]:
# df.fillna(0, inplace=True)
df.dropna(subset=['FF Min', 'FF Max'], inplace=True)
print(df)

      FF_NDB  SR_NDB  food_category_id    FF Food description  \
0      16158   16158                16     Hummus, commercial
2      16158   16158                16     Hummus, commercial
3      16158   16158                16     Hummus, commercial
4      16158   16158                16     Hummus, commercial
7      16158   16158                16     Hummus, commercial
...      ...     ...               ...                    ...
4390    1267    1267                 1  Cheese, cotija, solid
4391    1267    1267                 1  Cheese, cotija, solid
4392    1267    1267                 1  Cheese, cotija, solid
4393    1267    1267                 1  Cheese, cotija, solid
4394    1267    1267                 1  Cheese, cotija, solid

                SR Food description  Nutrient_id   rank      FF_Component  \
0                Hummus, commercial         1090   5500     Magnesium, Mg
2                Hummus, commercial         1089   5400          Iron, Fe
3                Hummus, commercial         1051    100             Water
4                Hummus, commercial         1103   6200      Selenium, Se
7                Hummus, commercial         1170   6700  Pantothenic acid
...                             ...          ...    ...               ...
4390  Cheese, mexican, queso cotija         1264  10500          SFA 14:0
4391  Cheese, mexican, queso cotija         1263  10300          SFA 12:0
4392  Cheese, mexican, queso cotija         1265  10700          SFA 16:0
4393  Cheese, mexican, queso cotija         1095   5900          Zinc, Zn
4394  Cheese, mexican, queso cotija         1087   5300       Calcium, Ca

          SR_Component unit_name  ...  SR Min  SR Max   Std_Error  \
0        Magnesium, Mg        MG  ...     NaN     NaN         NaN
2             Iron, Fe        MG  ...     NaN     NaN         NaN
3                Water         G  ...     NaN     NaN         NaN
4         Selenium, Se        UG  ...     NaN     NaN         NaN
7     Pantothenic acid        MG  ...     NaN     NaN         NaN
...                ...       ...  ...     ...     ...         ...
4390             14:00         G  ...     NaN     NaN         NaN
4391             12:00         G  ...     NaN     NaN         NaN
4392             16:00         G  ...     NaN     NaN         NaN
4393          Zinc, Zn        MG  ...     NaN     NaN         NaN
4394       Calcium, Ca        MG  ...     NaN     NaN         NaN

      SR Num_Data_pts  FF Mean per 100g   FF Min   FF Max  FF Median  \
0                   2           71.1000   56.600   82.000     70.400
2                   2            2.4100    1.870    2.960      2.330
3                   2           58.7000   56.100   65.600     57.600
4                   0           16.2000    0.000   32.300     16.200
7                   2            0.3180    0.260    0.370      0.320
...               ...               ...      ...      ...        ...
4390                0            2.5720    1.949    3.314      2.426
4391                0            0.8359    0.614    1.071      0.827
4392                0            7.3910    5.375    9.535      6.924
4393                0            3.5970    3.370    3.860      3.620
4394                0          699.6000  358.000  855.000    751.000

      FF data_points  FF Publication Date
0               11.0             4/1/2019
2               11.0             4/1/2019
3               11.0             4/1/2019
4                2.0             4/1/2019
7                4.0             4/1/2019
...              ...                  ...
4390             7.0           10/19/2023
4391             7.0           10/19/2023
4392             7.0           10/19/2023
4393             7.0           10/19/2023
4394             7.0           10/19/2023

[3842 rows x 21 columns]

In [8]:
df['FF Publication Date'] = pd.to_datetime(df['FF Publication Date'], errors='coerce')
df_2019 = df[df['FF Publication Date'].dt.year == 2019]
print(df_2019)

      FF_NDB  SR_NDB  food_category_id              FF Food description  \
0      16158   16158                16               Hummus, commercial
2      16158   16158                16               Hummus, commercial
3      16158   16158                16               Hummus, commercial
4      16158   16158                16               Hummus, commercial
7      16158   16158                16               Hummus, commercial
...      ...     ...               ...                              ...
1705    1123    1123                 1  Eggs, Grade A, Large, egg whole
1709    1123    1123                 1  Eggs, Grade A, Large, egg whole
1710    1123    1123                 1  Eggs, Grade A, Large, egg whole
1711    1123    1123                 1  Eggs, Grade A, Large, egg whole
1712    1123    1123                 1  Eggs, Grade A, Large, egg whole

         SR Food description  Nutrient_id   rank      FF_Component  \
0         Hummus, commercial         1090   5500     Magnesium, Mg
2         Hummus, commercial         1089   5400          Iron, Fe
3         Hummus, commercial         1051    100             Water
4         Hummus, commercial         1103   6200      Selenium, Se
7         Hummus, commercial         1170   6700  Pantothenic acid
...                      ...          ...    ...               ...
1705  Egg, whole, raw, fresh         1218  17100          Tyrosine
1709  Egg, whole, raw, fresh         1091   5600     Phosphorus, P
1710  Egg, whole, raw, fresh         1093   5800        Sodium, Na
1711  Egg, whole, raw, fresh         1221  17400         Histidine
1712  Egg, whole, raw, fresh         1013   1900           Lactose

          SR_Component unit_name  ...  SR Min  SR Max   Std_Error  \
0        Magnesium, Mg        MG  ...     NaN     NaN         NaN
2             Iron, Fe        MG  ...     NaN     NaN         NaN
3                Water         G  ...     NaN     NaN         NaN
4         Selenium, Se        UG  ...     NaN     NaN         NaN
7     Pantothenic acid        MG  ...     NaN     NaN         NaN
...                ...       ...  ...     ...     ...         ...
1705          Tyrosine         G  ...     NaN     NaN         NaN
1709     Phosphorus, P        MG  ...   193.0   205.0       1.939
1710        Sodium, Na        MG  ...   139.0   147.0       1.138
1711         Histidine         G  ...     NaN     NaN         NaN
1712           Lactose         G  ...     0.0     0.0       0.000

      SR Num_Data_pts  FF Mean per 100g  FF Min  FF Max  FF Median  \
0                   2            71.100   56.60   82.00      70.40
2                   2             2.410    1.87    2.96       2.33
3                   2            58.700   56.10   65.60      57.60
4                   0            16.200    0.00   32.30      16.20
7                   2             0.318    0.26    0.37       0.32
...               ...               ...     ...     ...        ...
1705                0             0.512    0.47    0.55       0.51
1709                6           184.000  169.00  196.00     183.00
1710                6           129.000  117.00  140.00     129.00
1711                0             0.283    0.25    0.33       0.28
1712                6             0.000    0.00    0.00       0.00

      FF data_points  FF Publication Date
0               11.0           2019-04-01
2               11.0           2019-04-01
3               11.0           2019-04-01
4                2.0           2019-04-01
7                4.0           2019-04-01
...              ...                  ...
1705            17.0           2019-12-16
1709            22.0           2019-12-16
1710            22.0           2019-12-16
1711            17.0           2019-12-16
1712             3.0           2019-12-16

[1369 rows x 21 columns]

In [9]:
counter = 0

not_between_df = pd.DataFrame(columns=df.columns)

# Iterate through each row
for index, row in df.iterrows():
    if row['FF Min'] <= row['SR Mean per 100g'] <= row['FF Max']:
        counter += 1
    else:
        # Append rows not between FF Min and FF Max to the new DataFrame
        not_between_df = not_between_df.append(row, ignore_index=True)

num_rows = df.shape[0]
# Display the counter value
print(f"The number of rows where SR Mean is between FF Min and FF Max is: {counter} out of {num_rows}")

# Display the new DataFrame with rows not between FF Min and FF Max
print("\nRows not between FF Min and FF Max:")
print(not_between_df)
output_file_path = 'not_between_FFMin_&_FFMax_df.csv'
not_between_df.to_csv(output_file_path, index=False)

#the number of rows with no value for FFMin/FFMax is 1849 - 1337

AttributeError: 'DataFrame' object has no attribute 'append'